<!DOCTYPE html>
<html>
<head>
<title>Fast Feeds</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/underscore-min.js"></script>
<link rel="stylesheet"
	href="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.css" />
<script
	src="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js"></script>


<script type="text/html" id='news-list'>
	<ul data-role="listview" data-inset="false" data-filter="false" id="itemsList">
		<li id="0">
			<a href="#single-page" data-transition="slide" data-theme="a" data-ajax="true" id="0">
				Item 1
			</a>
		</li>
		<%
			_.each(items,function(item,key,list){
				alert('asdf'); 
				console.log(item);
		%>
		<li id="<%= key %>">
			<a href="#single-page" data-transition="slide" data-theme="a" data-ajax="true" id="<%= key %>">
				<%= item.title %>
			</a>
		</li>

		<%
			}); 
		%>
	</ul>
</script>


<script type="text/javascript">
	//$(document).ready(function(){
	var clickedItem = 0;
	var items = 0;
	var flag = 0;
	var url = 'http://sudosaints.in/blog/api/get_posts/';
	$(document).on(
			'pageinit',
			function() {
				//flag = 1;
				if(flag == 0){
					flag = 1;
				} else {
					return false;
				}
				$.ajax({
					url : url,
					type : 'GET',
					dataType : "jsonp",
					success : function(msg) {
						items = msg.posts;
						for (i = 0; i < items.length; i++) {
							$("#itemsList").append(
									'<li id="' + i + '"><a href="#single-page" data-transition="slide" data-theme="a" data-ajax="true" id="' + i + '">'
											+ items[i].title + '</a></li>');
						}
						/* var template = $("#usage-list").html();
						console.log(template);
						$("#news-list").html(_.template(template,{items:items})); */
						
						$('#itemsList').listview('refresh');
						
						
					},
					error : function(e, f, g) {
						console.log(e);
					}
				});
			});
				
			$(document).on('vclick', 'li',function(e) {
				var id = $(this).attr('id');
				var post = items[id];
				//console.log(post);
				$("#blog-title").html(post.title);
				$("#blog-content").html(post.content);
		    });
</script>

</head>
<body>

	<div data-role="page" id="index">

		<div data-role="header" data-theme="b">
			<h1>Fast Feeds</h1>

		</div>
		<div data-role="content" id="blog-list">
			<ul data-role="listview" data-inset="false" data-filter="false"
				id="itemsList">
			</ul>
		</div>
		<div data-role="footer" class="ui-bar" data-theme="b">
			<a href="http://sudosaints.com/" data-role="link" target="_blank">&copy; SudoSaints</a>
		</div>
		
	</div>

	<!-- Single Blog Item Page -->

	<div data-role="page" id="single-page">

		<div data-role="header" data-theme="b">

			<a href="#" data-icon="back" data-rel="back" title="Go back">Back</a>
			<h1 id="blog-title">News letter</h1>
		</div>

		<div data-role="content" data-theme="b" id="blog-content">
			
		</div>
		
		<div data-role="footer" class="ui-bar" data-theme="b">
			<a href="http://sudosaints.com/" data-role="link" target="_blank">&copy; SudoSaints</a>
		</div>

	</div>



</body>
</html>
